header{
  background: linear-gradient(135deg, #000000, #550b8a);
  border-top: #000000 solid 4px;
}

header .container{
  max-width: 1600px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: 4rem;
  gap: 4rem;
}

header .left-slide{
  color: #fff;
}

header .left-slide h2{
  font-size: 2.5rem;
}

header .left-slide p{
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.verMais{
  padding: 0.8rem 1rem;
  background-color: #234af5;
  border-radius: 8px;
  transition: all 0.2s;
  display: flex;
  max-width: 130px;
  justify-content: space-between;
  align-items: center;
}

.verMais:hover{
  background-color: #fff;
  max-width: 200px;
  color: black;
}

header .right-slide img{
  width: 100%;
}
@media (max-width: 780px){
  header .container{
    grid-template-columns: 1fr;
  }
}

@media (max-width:920px) {
  header .container{
    gap: 2rem;
    padding: 1.5rem;
    padding-top: 3rem;
  }
  header .left-slide h2{
    font-size: 1.8rem;
  }
}