/* Footer.css */

.footer {
  background-color: #10141c;
  color: #f1f1f1;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-newsletter {
  margin-bottom: 40px;
  width: 100%;
  background-color: #10141c;
}

.footer-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 5rem;
  margin-bottom: 40px;
  padding-left: 17%;
}

.footer-column {
  flex: 1 1 200px;
  min-width: 180px;
  font-size: 18px;
}

.column-title {
  font-size: 20px;
  margin-bottom: 12px;
}

.column-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.column-list li {
  margin-bottom: 5px;
  font-size: 17px;
}

.social-icons {
  display: flex;
  gap: 12px;
  margin: 12px 0;
}

.social-icons a {
  color: #f1f1f1;
  font-size: 20px;
  text-decoration: none;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #ff6600;
}

.social-credit {
  font-size: 12px;
  opacity: 0.8;
}

.footer-copy {
  text-align: center;
  font-size: 12px;
  opacity: 0.6;
}
/* Em Footer.css */

.department-grid {
  display: flex;
  gap: 40px;
}

.department-grid ul {
  list-style: none;
  padding: 0;
}

.department-grid li {
  margin-bottom: 8px;
  font-size: 15px;
}
